.metadata
ucdetector_reports
*.class
.recommenders
.sonarlint
RemoteSystemsTempFiles
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
**/build/
!/build/
!/build/robocode-rlai-setup.jar
.sandbox
.idea/uiDesigner.xml
